################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/SDLGUI/SDLGUILIB/Debug/SDLGUILIB.tlog
*.suo
*.ipch
*.tlog
*.log
*.obj
*.user
*.pch
*.pch
*.pch
*.sdf
*.opendb
*.db
*.idb
/thirdparty/SDL2-2.0.3_source
/source/SDLGUI/Runtime/x64
/source/SDLGUI/Runtime/x86
/source/SDLGUI/SDLGUILIB/x86
/source/SDLGUI/SDLGUILIB/x64
/source/SDLGUI/UnitTests/x64
/source/SDLGUI/UnitTests/x86
/source/SDLGUI/x86
